{% extends 'base.html.twig' %}

{% block title %}Infos pratiques
{% endblock %}

{% block meta %}
	<meta name="description" content="Les informations concernant le club, la salle, les horaires, l'inscription...">
{% endblock %}



{% block body %}


<section id="main-container" class="main-container pt-3">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">
        <h5 class="section-sub-title bleuTitre">Où nous trouver ?</h5>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-md-4">
        <div class="ts-service-box-bg text-center h-100">
          <span class="ts-service-icon icon-round">
            <i class="fa fa-facebook-f mr-0"></i>
          </span>
          <div class="ts-service-box-content">
            <h4>Facebook</h4>
            <p><a href="https://facebook.com/lesvolantsberquinois" class="text-decoration-underline lienContact" >Les Volants Berquinois</a></p>
          </div>
        </div>
      </div><!-- Col 1 end -->

      <div class="col-md-4">
        <div class="ts-service-box-bg text-center h-100">
          <span class="ts-service-icon icon-round">
            <i class="fa fa-envelope mr-0"></i>
          </span>
          <div class="ts-service-box-content">
            <h4>L'adresse email</h4>
			{% if contact != null %}
            <p class="mailContact"><a href="mailto:{{contact.email}}" class="text-decoration-underline lienContact">{{contact.email}}</a> </p>
			{% else %}
			<p class="mailContact"><a href="mailto:les.volants.berquinois@gmail.com" class="text-decoration-underline lienContact">les.volants.berquinois@gmail.com</a></p>
			{% endif %}
          </div>
        </div>
      </div><!-- Col 2 end -->

		{% if contact.telephone is not null %}
      <div class="col-md-4">
        <div class="ts-service-box-bg text-center h-100">
          <span class="ts-service-icon icon-round">
            <i class="fa fa-phone-square mr-0"></i>
          </span>
          <div class="ts-service-box-content">
            <h4>Appelez-nous</h4>
            <p>{{contact.telephone}}</p>
          </div>
        </div>
      </div><!-- Col 3 end -->
		{% endif %}

    </div><!-- 1st row end -->

    <div class="gap-60"></div>

   <link
					rel="stylesheet" href="leaflet/leaflet.css" integrity="" crossorigin=""/>
					{# sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A== #}

					<script src="leaflet/leaflet.js" integrity="" crossorigin=""></script>
					{# sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA== #}

					<div id="carte" style="width:100%; height:350px;"></div>

					
		<div class="row shadow bg-clair p-3 mt-5">
			<div class="col-lg-6">
				<div>
					<h3 class="mt-3 bleuTitre">La salle
					</h3>
					<h5 class="bleuTitre"> <i class="fa fa-map-marker"></i> Rue de l'Abbé Lemire, 59232 Vieux-Berquin</h5>
					<p class="mt-3">La salle que nous occupons est un complexe multisport moderne inauguré en 2013. Vestiaires et douches sont tous deux entretenus. <br><br> De plus elle est à proximité immédiate d'un parking.</p>
				</div>
			</div>
			<div class="col-lg-6">
				{% if photoSlide != null %}
					<div class="d-none d-sm-block ">
						<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">


								{% for key, photo in photoSlide %}
									<div {% if key > 0 %} class="carousel-item" {% endif %} {% if key == 0 %} class="carousel-item active" {% endif %}>
										{% set photocrop %}/uploads/{{photo.photo}}{% endset %}
										<img src="{{photocrop|imagine_filter('carouselSalle')}}" class="d-block my-auto mx-auto" alt"">
									</div>
								{% endfor %}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Précédent</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Suivant</span>
							</button>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

					<script>

						initMap('carte');

function initMap(lat, lng) {

const map = L.map('carte').setView([
50.6940180068877, 2.64108085743208
], 15);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);

L.marker([50.6940180068877, 2.64108085743208]).addTo(map).bindPopup('<a href="https://www.google.com/maps/place/Salle+De+Sports/@50.6940438,2.639165,17z/data=!3m1!4b1!4m5!3m4!1s0x47dcde34646a444b:0x84ae5e4f4da05c94!8m2!3d50.6941022!4d2.6413516" target="_blank">Voir plus</a>').openPopup();

const layerGroupMarker = L.layerGroup().addTo(map);

map.on('click', function (e) {
map.setZoom(17);
map.setView([
e.latlng.lat, e.latlng.lng
], 17);

});
}
					</script>

    <div class="gap-40"></div>



    <div class="row shadow bg-clair p-3 mt-4" id="contacter">
      <div class="col-md-12">
        <h3 class="column-title bleuTitre text-center">Envoyez-nous un message</h3>
        <p class="column-title bleuTitre text-center">Ou un mail : <a href="mailto:{{ render(controller('App\\Controller\\EmailController::index',)) }}" class="text-decoration-underline">{{ render(controller('App\\Controller\\EmailController::index',)) }}</a></p>
        <form id="contact-form" action="#" method="post" role="form">
          <div class="error-container"></div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
			          <input type="hidden" name="contact_number">

                <label>Nom</label>
                <input class="form-control form-control-name" name="user_name" id="user_name" placeholder="" type="text"  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control form-control-email" name="user_email" id="user_email" placeholder="" type="email"
                  required>
              </div>
            </div>
            
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control form-control-message" name="message" id="message" placeholder="" rows="10"
              required></textarea>
          </div>
          <div class="text-right"><br>
            <button class="btn bg-jaune text-light solid blank" type="submit" value="send">Envoyer</button>
          </div>
        </form>
      </div>

	  	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
					<script src="{{asset('js/contact.js')}}"></script>

    </div><!-- Content row -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->
{% endblock %}
