{{ form_start(form) }}
    {{ form_widget(form) }}

    {# Si la route est 'album_edit' on affiche les images #}

{% if app.request.get('_route') =='album_edit' %}
    <h2>Images</h2>
    {% for image in album.images %}
        <div>
            <img src="{{asset('/galerie/' ~ image.nom) }}" alt="image" width="150">
            <a href="{{path('supprimer_image',{'id':image.id} ) }}"  data-delete data-token="{{csrf_token('delete' ~ image.id)}}" >Supprimer</a>

        </div>
    {% endfor %}
{% endif %}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
