{% extends 'base.html.twig' %}

{% block title %}Album
{% endblock %}

{% block body %}


	<h1 class="text-center">Album</h1>

	<div class="container">

		<a href="{{ path('album_index') }}" class="btn bg-bleu text-light mb-5">
			<img src="{{asset('images/volant.png')}}" alt="" class="my-auto" height="15" style="transform: rotate(45deg);">
			retour</a>
		<table class="table mb-5">
			<tbody>
				<tr>
					<th>Nom</th>
					<td>{{ album.nom }}</td>
				</tr>
				<tr>
					<th>Photos</th>
					<td>
						<div class="row  ">
							{% for photo in album.images %}
								<div class="col-lg-4 col-md-6 p-0 row mb-3 mt-3 d-flex justify-content-center mx-0">
									<div class="col-1 p-0"></div>
									<div class="col-10 p-0 ">
										<div class="photoGalerie p-1 shadow">
											<a href="#" data-bs-toggle="modal" data-bs-target="#modalPhoto" class=" repere test" data-id={{photo.id}}>
												<img src="{{asset('galerie/' ~ photo.nom)}}" alt="" class="photoGalerie ">
											</a>
										</div>
									</div>
									<div class="col-1 p-0"></div>
								</div>
							{% endfor %}
						</td>
					</td>
				</tr>
			</tbody>
		</table>


		<div class="d-flex">
			<a href="{{ path('album_edit', {'id': album.id}) }}">
				<div class="btn bg-bleu text-light me-4">
					<img src="{{asset('images/edit.png' )}}" class="logoBlanc" height="20" alt="">
					modifier</div>
			</a>

			{{ include('album/_delete_form.html.twig') }}

		</div>


	</div>

{% endblock %}
