{% extends 'base.html.twig' %}

{% block title %}Les albums photos
{% endblock %}

{% block meta %}
			<meta name="description" content="Les albums photos du club">
{% endblock %}

{% block body %}

	{% for message in app.flashes('danger') %}
		<div class="flash-notice">
			<div class="alert alert-warning alert-dismissible fade show h5" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{% endfor %}
	{% for message in app.flashes('noalbum') %}
		<div class="flash-notice">
			<div class="alert alert-warning alert-dismissible fade show h5" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	{% endfor %}
	<div class="d-flex justify-content-center">
		<div>
			<h2 class="bleuTitre my-4">Galerie photos</h2>
		</div>
	</div>

	{% if vide == null %}

	<div class="container mx-auto mb-4 d-flex justify-content-center animate__animated animate__fadeInUp ">
		<div class="row mx-0 ">
			{% set index = 0 %}
			{% set index = index - 1 %}
			{% for album in albums %}
				{% set index = index + 1 %}
				{% set image = photos[index] %}

				<div class="col-md-6 row mx-0">
					<div class="col-1"></div>
					<a href="{{path('galerie_album',{'id':album.id})}}" class="col-10">
					{# <div class="col-10"> #}
						<div class="shopy">
							
								<div class="shopy-img">
								    {% set photocrop %}uploadsgalerie/{{image}}{% endset %}
									<img src="{{photocrop|imagine_filter('photoAlbum')}}" alt="">
								</div>
								<div class="shopy-body ">
									<h2>
										{{album.nom}}</h2>
								</div>
							
						</div>
					{# </div> #}
					</a>
					<div class="col-1"></div>


				</div>
			{% endfor %}
		</div>
	</div>
	{% else %}
		<div class="text-center mt-4 mb-5">
			<h5>{{vide}}</h5>
		</div>
	{% endif %}

{% endblock %}
